// // Sprite version
$spriteVersion : 1;

// // Default font size
$defaultFontSize : 16;

// Text colors
$white: #ffffff;
$whiteHue: #F1F1F1;
$mainDark  : #040404;
$secondaryDark: #3b486d;


$lightDark  : #6C757D;
$mainYellow  : #FDC330;
$lightYellow : #FD8;
$mainRed : #F57150;
$lightRed : #FFA58E;
$focusedRed : #F94F24;
$lightGray: #D9D9D9;
$mainGray: #8794A3;
$lightGray: #FAFAFA;
$midGray: #102A47;
$mainGreen: #00A650;
$lightGreen: #A6CE38;
$mainBlue: #40A0EC;
$lightBlue: #F0F3F8;
$secondaryGray: #EDEEF4;
$scrollGray: #CBCACA;
$mainDarkOpacity: rgba(16, 42, 71, 0.30);


//Gradient colors
$gradientColor1 : linear-gradient(89.99deg, #B2D398 3.45%, #95DC4F 100.61%);












